{% extends 'base.html' %}
{% block content %}
<h2>Registro de Compra (Ingreso Stock)</h2>
<div class="alert alert-secondary">
</div>

<div class="card col-md-6 mx-auto">
    <div class="card-body">
        <form onsubmit="registrarCompra(event)">
            <div class="mb-3">
                <label>Sucursal Destino</label>
                <select id="branchSel" class="form-select" required></select>
            </div>
            <div class="mb-3">
                <label>Producto</label>
                <select id="prodSel" class="form-select" required></select>
            </div>
            <div class="mb-3">
                <label>Cantidad Comprada</label>
                <input type="number" id="qty" class="form-control" min="1" oninput="validity.valid||(value='');" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Registrar Ingreso</button>
        </form>
    </div>
</div>

<script>
    // Carga inicial de datos
    async function init() {
        // 1. Cargar Sucursales
        const bRes = await apiFetch('/api/branches/');
        const bResponse = await bRes.json();
        // FIX PAGINACIÓN
        const bData = bResponse.results || bResponse;
        
        const bSel = document.getElementById('branchSel');
        bData.forEach(b => bSel.innerHTML += `<option value="${b.id}">${b.name}</option>`);

        // 2. Cargar Productos
        const pRes = await apiFetch('/api/products/');
        const pResponse = await pRes.json();
        // FIX PAGINACIÓN
        const pData = pResponse.results || pResponse;
        
        const pSel = document.getElementById('prodSel');
        pData.forEach(p => pSel.innerHTML += `<option value="${p.id}">${p.name} (SKU: ${p.sku})</option>`);
    }
    
    init();
</script>
{% endblock %}